$font-size-minimum          : round($font-size-default/1.55);      //9px
$font-too-small-xx          : round($font-size-default/1.4);       //10px
$font-too-small-x           : round($font-size-default/1.27);      //11px
$font-small-x               : round($font-size-default/1.16);      //12px
$font-small-xx              : round($font-size-default/1.07);      //13px

$font-size-average-x        : round($font-size-default/0.93);      //15px
$font-size-average-xx       : round($font-size-default/0.875);     //16px
$font-size-large-x          : round($font-size-default/0.823);     //17px
$font-size-large-xx         : round($font-size-default/0.77);      //18px
$font-size-larger-x         : round($font-size-default/0.736);     //19px
$font-size-larger-xx        : round($font-size-default/0.7);       //20px

$font-value                 : round($font-size-default/0.3);       //47px
$font-icon-highlight        : round($font-size-default/0.5);       //28px