//Cor padrão - Softplan
$softplan		                : #014588;
$colorTheme		              : $softplan;
$nameTheme		              : softplan;

//Bordas arredondadas

$border-radius		          : 4px;
$border-radius-top          : $border-radius;
$border-radius-bottom       : $border-radius;
$border-radius-left         : $border-radius;
$border-radius-right        : $border-radius;

//Fonte padrão

$font-family-default        : 'Roboto', sans-serif;
$font-size-default          : 14px;

// Campos input, text-area, select que usam a classe form-control

$form-font-base             : $font-size-default;
$form-height                : 34px;
$form-padding               : 6px 12px;

//  Altera as cores dos botões do sistema

//Principal
$bg-color-primary           : $colorTheme;
$font-color-primary         : $white;
$border-color-primary       : $colorTheme;

//Default
$bg-color-default           : $white;
$font-color-default         : $colorTheme;
$border-color-default       : $colorTheme;