<div class="vehicle-table-actions clearfix">
  <div class="actions-buttons">
    <button class="btn btn-primary"
            ng-bind="::'LABELS.NEW_VEHICLE' | translate"
            ng-click="$ctrl.handleClickNewVehicle()">
    </button>

    <button class="btn btn-default"
            ng-bind="::'LABELS.EDIT_VEHICLE' | translate"
            ng-show="$ctrl.showEditButton"
            ng-click="$ctrl.handleClickEditVehicle()">
    </button>

    <button class="btn btn-default"
            ng-bind="::'LABELS.DELETE_VEHICLE' | translate"
            ng-show="$ctrl.showDeleteButton"
            ng-click="$ctrl.handleClickDeleteVehicle()">
    </button>
  </div>

  <div class="form-group">
    <div class="input-group">
      <input type="text"
             class="form-control"
             ng-model="$ctrl.filterText"
             ng-model-options="{ debounce: 300 }"
             ng-change="$ctrl.onChangeFilterText()"
             placeholder="Pesquisar"
             initial-focus/>

      <span class="input-group-addon" id="basic-addon2">
        <i class="fa fa-search"></i>
      </span>
    </div>
  </div>
</div>