<div class="vehicle-table-actions clearfix">
  <button class="btn btn-primary"
          ng-bind="::'LABELS.NEW_VEHICLE' | translate"
          ng-click="$ctrl.handleClickNewVehicle()">
  </button>

  <div class="form-group">
    <div class="input-group">
      <input type="text"
             class="form-control"
             ng-model="$ctrl.filterText"
             ng-model-options="{ debounce: 300 }"
             ng-change="$ctrl.onChangeFilterText()"
             placeholder="Pesquisar"/>

      <span class="input-group-addon" id="basic-addon2">
        <i class="fa fa-search"></i>
      </span>
    </div>
  </div>
</div>