@charset "UTF-8";
html {
  width: 100%;
  height: 100%; }

body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 14px; }

a {
  text-decoration: none; }
  a:hover, a:focus {
    text-decoration: underline; }
  a:focus {
    outline: none; }

label {
  font-weight: 600;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.54);
  margin-bottom: 2px; }

.cursor-pointer {
  cursor: pointer; }

/*
 *  http://tobiasahlin.com/spinkit/
 */
.solar-bpm-spinkit {
  margin: 100px auto 0;
  width: 70px;
  text-align: center; }
  .solar-bpm-spinkit > div {
    width: 18px;
    height: 18px;
    background-color: #2687E9;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both; }
  .solar-bpm-spinkit .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s; }
  .solar-bpm-spinkit .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s; }

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0); }
  40% {
    -webkit-transform: scale(1); } }

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0); }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

.has-error .form-control {
  border-color: #ff5757;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); }

.has-error:after {
  content: "Campo obrigatório";
  margin-right: 5px;
  font-size: 13px;
  color: #d9534f;
  padding-left: 18px; }

.has-error:before {
  content: "\f071";
  font-family: Fontawesome;
  margin-right: 5px;
  font-size: 13px;
  position: absolute;
  bottom: 0;
  color: #d9534f; }

.label-required {
  position: relative; }
  .label-required:after {
    position: absolute;
    content: "\2217";
    color: #FF5757;
    margin-left: 1px;
    margin-top: -5px; }

.app-header {
  height: 50px;
  background: #2687E9; }
  .app-header img {
    padding: 13px 30px 0; }

body {
  background-color: #F1F4F9; }

.vehicle-table-actions {
  margin: 20px 0; }
  .vehicle-table-actions .actions-buttons {
    float: left; }
    .vehicle-table-actions .actions-buttons .btn {
      padding: 8px 25px; }
      .vehicle-table-actions .actions-buttons .btn + .btn {
        margin-left: 15px; }
    .vehicle-table-actions .actions-buttons .btn-primary {
      background-color: #4ABA58;
      border-color: #4ABA58; }
      .vehicle-table-actions .actions-buttons .btn-primary:hover, .vehicle-table-actions .actions-buttons .btn-primary:focus, .vehicle-table-actions .actions-buttons .btn-primary.focus, .vehicle-table-actions .actions-buttons .btn-primary:active:hover, .vehicle-table-actions .actions-buttons .btn-primary.active:hover, .vehicle-table-actions .actions-buttons .btn-primary:active:focus, .vehicle-table-actions .actions-buttons .btn-primary.active:focus, .vehicle-table-actions .actions-buttons .btn-primary:active.focus, .vehicle-table-actions .actions-buttons .btn-primary.active.focus {
        background-color: #3a9745;
        border-color: #33853d; }
  .vehicle-table-actions .form-group {
    margin-bottom: 0;
    max-width: 250px;
    float: right; }
    .vehicle-table-actions .form-group .input-group > input.form-control {
      height: 38px; }

.vehicle-table.table {
  color: #3C5D7D;
  border: 1px solid #C9D3DD;
  margin-bottom: 15px; }
  .vehicle-table.table thead > tr > th {
    background-color: #F8FAFC;
    border-bottom: 0; }
  .vehicle-table.table tbody > tr > td {
    background-color: #FFFFFF;
    padding: 15px 8px; }
    .vehicle-table.table tbody > tr > td .btn-link {
      cursor: pointer; }
  .vehicle-table.table tr th, .vehicle-table.table tr td {
    border-color: #C9D3DD; }
  .vehicle-table.table tr.active > td {
    background-color: #D8E9FB;
    border-color: #8BC8F6;
    color: #395B7B; }

.vehicles-table-pagination {
  text-align: center; }
  .vehicles-table-pagination ul.pagination li:first-child > a, .vehicles-table-pagination ul.pagination li:last-child > a {
    font-weight: bold; }
  .vehicles-table-pagination ul.pagination li a:hover, .vehicles-table-pagination ul.pagination li a:focus {
    background-color: #FFFAEB; }
  .vehicles-table-pagination ul.pagination .active a, .vehicles-table-pagination ul.pagination .active a:hover, .vehicles-table-pagination ul.pagination .active a:focus {
    background-color: #D8E9FB;
    border-color: #8BC8F6;
    color: #395B7B; }
