<div class="modal-header">
  <button type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          ng-click="$ctrl.cancel()">

    <span aria-hidden="true">&times;</span>
  </button>

  <h4 class="modal-title"
      ng-bind="::'LABELS.VEHICLE_REGISTER' | translate">
  </h4>
</div>

<div class="modal-body">
  <form role="form" name="form">
    <div class="row">
      <div class="form-group col-xs-12" ng-class="{'has-error': form.user.$dirty && form.user.$error.required}">
        <label ng-bind="::'PERSON' | translate"></label>

      </div>
    </div>
  </form>

</div>

<div class="modal-footer">
  <button class="btn btn-default"
          ng-click="$ctrl.cancel()"
          ng-bind="::'CANCEL' | translate">
  </button>

  <button type="submit"
          class="btn btn-primary"
          ng-click="$ctrl.confirm()"
          ng-disabled="!form.$valid"
          ng-bind="::'SAVE' | translate">
  </button>
</div>
</div>